---
layout: default
---

{% include header.html %}
{% include about.html %}
{% include tickets.html %}
{% include biographies.html %}
{% include map.html %}
{% include venues.html %}
{% include contact.html %}

<!-- EVENTBRITE JS -->
<script src="https://www.eventbrite.co.uk/static/widgets/eb_widgets.js"></script>
<script type="text/javascript">
  var exampleCallback = function() {
    console.log('Order complete!');
  };

  window.EBWidgets.createWidget({
    widgetType: 'checkout',
    eventId: '55755088972',
    modal: true,
    modalTriggerElementId: 'eventbrite-widget-modal-trigger-55755088972',
    onOrderComplete: exampleCallback
  });
</script>
<!-- CUSTOM JS -->
<script type="text/javascript" src="js/app.js"></script>