<span class="anchor" id="contact__anchor"></span>
<section id="contact">
  <div class="contact__container container">
    <img class="contact__container__img" src="imgs/folk_on_the_hill_contact_ribbon.png" alt="Folk on the hill contacts">

    <div class="contact__container__list">
      <div class="contact__container__list--item">
        <img src="imgs/folk_on_the_hill_telephone.png" alt="Contact Folk on the hill on phone">
        <a href="tel:020 8638 6878" target="_blank">
          <h3>020 8638 6878</h3>
        </a>
      </div>
      <div class="contact__container__list--item">
        <img src="imgs/folk_on_the_hill_email.png" alt="Contact Folk on the hill on email">
        <a href=" mailto:info@folk-on-the-hill.co.uk?subject=Folk on the hill" target="_blank">
          <h3>info@folk-on-the-hill.co.uk</h3>
        </a>
      </div>
      <div class="contact__container__list--item">
        <img src="imgs/folk_on_the_hill_facebook.png" alt="Contact Folk on the hill on Facebook">
        <a href="https://www.facebook.com/Folk-on-the-Hill-music-festival-366706564162282/" target="_blank">
          <h3>Folk on the Hill music festival</h3>
        </a>
      </div>
    </div>

    <div class="site__creation">
      <h3>Branding and Website Design by <a href="http://www.ttig.co.uk" target="_blank">www.ttig.co.uk</a></h3>
      <h3>Website Build by <a href="http://www.agileventures.org" target="_blank">www.agileventures.org</a></h3>
    </div>

    <p>©Folk on the Hill</p>
  </div>
</section>