<header class="menu__container">
  <img class="menu" src='{{"/imgs/folk_on_the_hill_menu.svg" | relative_url }}' alt="Folk on the hill festival menu">
  <a href="#about__intro">
    <div class="menu__container__logo">

    </div><a>
</header>

<div class="menu__navigation">
  <nav>
    <a href="#about__intro">
      <h2 class="extra">About</h2>
    </a>
    <a href="#tickets">
      <h2 class="extra">Tickets</h2>
    </a>
    <a href="#biographies">
      <h2 class="extra">Biographies</h2>
    </a>
    <a href="#map">
      <h2 class="extra">Map</h2>
    </a>
    <a href="#contact">
      <h2 class="extra">Contact</h2>
    </a>
  </nav>
</div>