<span class="anchor" id="map__anchor"></span>
<section id="map">
  <div class="map__container container">
    <img class="map__container__img" src="imgs/folk_on_the_hill_map.png" alt="Folk on the hill festival map">

    <div class="map__container__map">
      <iframe width="1400" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Ryan%20theatre&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>

    <div class="arrival__options">
      <h2>By Car</h2>
      <p>Parking available at John Lyon school (about ½ mile from the Ryan Theatre) – Free minibus service to and from the Ryan Theatre for 2 hours before festival and at the end - each day. Number of spaces tbc, address : The John Lyon School,
        Harrow
        on the Hill, Harrow HA2 0HN </p>
      <h2>By Train</h2>
      <p>Parking available at John Lyon school (about ½ mile from the Ryan Theatre) – Free minibus service to and from the Ryan Theatre for 2 hours before festival and at the end - each day. Number of spaces tbc, address : The John Lyon School,
        Harrow
        on the Hill, Harrow HA2 0HN </p>
      <h2>By Bus</h2>
      <p>Parking available at John Lyon school (about ½ mile from the Ryan Theatre) – Free minibus service to and from the Ryan Theatre for 2 hours before festival and at the end - each day. Number of spaces tbc, address : The John Lyon
        School,
        Harrow
        on the Hill, Harrow HA2 0HN </p>
    </div>
  </div>
</section>