<span class="anchor" id="venues__anchor"></span>
<section id="venues">
  <div class="venues__container container">
    <img class="venues__container__img" src="imgs/folk_on_the_hill_festival_venues.png" alt="Folk on the hill festival venues">

    <div class="venues__container__list">
      <div class="venues__container__list--item">
        <div class="venues__container__list--item__cover" style="background-image: url({{ site.data.venues.venue_1_cover_url }})">
        </div>

        <h2>{{ site.data.venues.venue_1 }}</h2>
        <p>{{ site.data.venues.venue_1_description }}</p>
      </div>

      
      {% if site.data.venues.venue_2 %}
      <div class="venues__container__list--item">
        <div class="venues__container__list--item__cover" style="background-image: url({{ site.data.venues.venue_2_cover_url }})">
        </div>

        <h2>{{ site.data.venues.venue_2 }}</h2>
        <p>{{ site.data.venues.venue_2_description }}</p>
      </div>
      
      {% endif %}
    </div>

  </div>
</section>
