// COLORS

$primary-black: #000;

// TYPOGRAPHY

body {
  font-family: "english-grotesque", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  color: $primary-black;
}

.large-body {
  font-family: "english-grotesque", sans-serif;
  font-size: 32px;
  color: $primary-black;
}

h1 {
  font-family: "english-grotesque", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: $primary-black;
}

h2 {
  font-family: "english-grotesque", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: $primary-black;
}

h3 {
  font-family: "english-grotesque", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: $primary-black;
}

// STRUCTURE
main {
  margin: 0 auto;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
