#about__intro {
  background-image: url("../imgs/folk_on_the_hill_background_main.jpg");
  background-color: #abdaf9;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 32px;
}

.about__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .about__container__logo {
    width: 550px;
    margin-bottom: 32px;
  }

  .about__container__sun {
    position: absolute;
    width: 200px;
    top: -50px;
    right: 200px;
    -webkit-animation: rotation 32s infinite linear;
  }
}

.about__text__container {
  width: 55%;
  display: flex;
  flex-direction: column;

  p,
  h1 {
    margin-bottom: 24px;
  }

  img {
    margin-top: 16px;
    align-self: center;
    max-width: 400px;
  }
}

.about__lineup__container {
  display: flex;
  justify-content: space-between;

  img {
    max-width: 300px;
  }

  .about__lineup--saturday,
  .about__lineup--sunday {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    text-transform: uppercase;
  }

  h3 {
    text-transform: uppercase;
    margin-top: 16px;
    text-align: center;
  }
}

// ANIMATION
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

// MEDIA
@media only screen and (max-width: 1200px) {
  .about__container {
    .about__container__logo {
      width: 500px;
      top: 140px;
    }

    .about__container__sun {
      width: 180px;
      top: -70px;
      right: 150px;
      -webkit-animation: rotation 32s infinite linear;
    }
  }

  .about__text__container {
    top: 180px;
    width: 60%;
  }
}

@media only screen and (max-width: 992px) {
  .about__container {
    .about__container__logo {
      width: 450px;
      top: 140px;
    }

    .about__container__sun {
      width: 150px;
      right: 80px;
    }
  }

  .about__lineup__container {
    img {
      max-width: 220px;
    }
  }

  .about__text__container {
    top: 180px;
    width: 65%;

    .about__theater__banner {
      margin-top: 0;
      max-width: 300px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .about__container {
    .about__container__logo {
      width: 400px;
      top: 100px;
    }

    .about__container__sun {
      top: -70px;
      right: 0;
    }
  }
  .about__text__container {
    top: 170px;
    width: 100%;

    h1,
    h2 {
      font-size: 1rem;
    }

    h3 {
      font-size: 0.75rem;
    }

    .about__theater__banner {
      margin-top: 16px;
      margin-bottom: 8px;
      max-width: 300px;
    }
  }

  .about__lineup__container {
    .about__lineup--saturday,
    .about__lineup--sunday {
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 576px) {
  .about__container {
    .about__container__logo {
      width: 280px;
      top: 60px;
    }

    .about__container__sun {
      width: 120px;
      top: -70px;
      right: 40px;
    }
  }
  .about__text__container {
    top: 120px;
    padding-left: 16px;
    padding-right: 16px;

    h1,
    h2 {
      font-size: 1rem;
    }

    h3,
    p {
      font-size: 0.75rem;
    }

    .about__theater__banner {
      margin-top: 8px;
      margin-bottom: 8px;
      max-width: 300px;
    }
  }

  .about__lineup__container {
    flex-direction: column;
    align-items: center;

    img {
      max-width: 200px;
    }

    .about__lineup--saturday,
    .about__lineup--sunday {
      width: 100%;
    }

    .about__lineup--saturday {
      margin-bottom: 24px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .about__container {
    .about__container__sun {
      width: 100px;
      top: -80px;
      right: 20px;
    }
  }

  .about__text__container {
    .about__theater__banner {
      max-height: 60px;
    }
  }
}
