#biographies {
  background-image: url("../imgs/folk_on_the_hill_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
}

.biographies__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .biographies__container__img {
    margin-bottom: 32px;
  }

  .biographies__container__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .biographies__container__list--item {
      text-align: center;
      width: 40%;

      h2 {
        margin-bottom: 16px;
      }
    }

    .biographies__container__list--item__cover {
      width: 100%;
      height: 250px;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 16px;
    }
  }
}

// MEDIA
@media only screen and (max-width: 1200px) {
  .biographies__container {
    img {
      height: 100px;
    }

    .biographies__container__list {
      .biographies__container__list--item {
        width: 45%;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .biographies__container {
    .biographies__container__list {
      justify-content: space-between;
    }

    .biographies__container__list {
      .biographies__container__list--item {
        width: 100%;
        margin-bottom: 24px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .biographies__container {
    img {
      height: 80px;
    }

    .biographies__container__list {
      .biographies__container__list--item {
        h2,
        p {
          font-size: 1rem;
        }

        margin-bottom: 32px;
      }

      .biographies__container__list--item:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .biographies__container {
    padding-left: 16px;
    padding-right: 16px;

    .biographies__container__list {
      .biographies__container__list--item {
        h2,
        p {
          font-size: 0.75rem;
        }

        margin-bottom: 32px;
      }

      .biographies__container__list--item:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (max-width: 350px) {
  .biographies__container {
    img {
      height: 60px;
    }
  }
}
