header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 32px;
  z-index: 3;
  transition: background-color 300ms ease;

  .menu {
    width: 24px;

    &:hover {
      cursor: pointer;
    }
  }
  .menu__container__logo {
    background-image: url("/imgs/folk_on_the_hill_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 120px;
    width: 120px;
    border: 16px solid rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top: -10px;
    left: calc(50% - 60px);
    transform: translateX(-50%) translateY(-100%);
    border-radius: 50%;
    transition: transform 400ms ease;
  }
}

.menu__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 2;
  transition: transform 400ms ease;

  h2 {
    margin-bottom: 16px;
    text-align: center;
    text-transform: uppercase;
  }
}
