#map {
  background-image: url("../imgs/folk_on_the_hill_background_2.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
}

.map__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    margin-bottom: 24px;
    height: 150px;
  }

  .map__container__map {
    width: 90%;
    margin-bottom: 24px;
  }

  .arrival__options {
    max-width: 55%;
    text-align: center;

    h2 {
      margin-bottom: 8px;
    }

    p {
      margin-bottom: 16px;
    }
  }
}

// MEDIA
@media only screen and (max-width: 1200px) {
  .map__container {
    img {
      height: 120px;
    }

    .arrival__options {
      max-width: 70%;
    }
  }
}

@media only screen and (max-width: 992px) {
  .map__container {
    .map__container__map {
      width: 100%;
    }

    .arrival__options {
      max-width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .map__container {
    img {
      height: 100px;
    }
  }

  .arrival__options {
    h2,
    p {
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: 576px) {
  .map__container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .arrival__options {
    h2,
    p {
      font-size: 0.75rem;
    }
  }
}

@media only screen and (max-width: 350px) {
  .map__container {
    img {
      height: 80px;
    }
  }
}
