#tickets {
  background-image: url("../imgs/folk_on_the_hill_background_3.jpg");
  height: 650px;
}

.tickets__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    margin-top: 24px;
    margin-bottom: 24px;
    max-width: 300px;
    height: 130px;
  }

  p {
    width: 55%;
    text-align: center;
    margin-bottom: 16px;
  }

  p:last-child {
    margin-top: 24px;
    margin-bottom: 0px;
  }
}

// MEDIA
@media only screen and (max-width: 1200px) {
  #tickets {
    height: 580px;
  }

  .tickets__container {
    img {
      height: 100px;
    }

    h3,
    p {
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: 992px) {
  #tickets {
    height: 580px;
  }

  .tickets__container {
    p {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  #tickets {
    height: 570px;
  }

  .tickets__container {
    img {
      height: 80px;
    }

    p:last-child {
      margin-top: 16px;
    }
  }
}

@media only screen and (max-width: 576px) {
  #tickets {
    height: 570px;
  }

  .tickets__container {
    padding-left: 16px;
    padding-right: 16px;

    img {
      height: 80px;
    }

    h3,
    p {
      font-size: 0.75rem;
    }
  }
}

@media only screen and (max-width: 350px) {
  #tickets {
    height: 610px;
  }
}
